@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --primary-black: 226 13% 40%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 86%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --c1: hsl(217 89% 59%); /* #3b7ef4 */
    --c2: hsl(258 90% 61%); /* #6c42f5 */
    --b1: hsl(225, 21%, 7%);
    --b2: hsl(226, 13%, 40%);
    --gradient: linear-gradient(135deg, var(--c1) 0%, var(--c2) 100%);
    --success-green: 154 75% 37%;
    --grey-gradient: linear-gradient(135deg, var(--b1) 30%, var(--b2) 100%);
    --background-light-blue: 210 20% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 220 13% 40%;
    --primary-black: 226 13% 40%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --c1: hsl(217 89% 59%); /* #3b7ef4 */
    --c2: hsl(258 90% 61%); /* #6c42f5 */
    --gradient: linear-gradient(135deg, var(--c1) 0%, var(--c2) 100%);
    --success-green: 154 75% 37%;
    --grey-gradient: linear-gradient(135deg, var(--b1) 30%, var(--b2) 100%);
    --background-light-blue: 210 20% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif,
      "Syne";
  }
}

@layer utilities {
  .bg-gradient {
    background: var(--gradient);
  }

  .text-color-gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-grey-gradient {
    background: var(--grey-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
